<header id="header">
    <div class="intro">
        

<div class="container">
    <div class="row">
        <div class="col-xs-6 col-md-3 pull-left">
            <a href="#" class="thumbnail">
                <img src="img/doctor4.png" alt="...">
            </a>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h1>Name Surname</h1>
                <span>pROFESSION</span>
            </div>
            <div class="row">
                <ul>
                    <li><a href="">aaa</a></li>
                    <li><a href="">aaa</a></li>
                    <li><a href="">aaa</a></li>
                    <li><a href="">aaa</a></li>
                    <li><a href="">aaa</a></li>
                    <li><a href="">aaa</a></li>
                    <li><a href="">aaa</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
    </div>
</header>