<div class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>categories</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
      </div>
      <div class="row">
        <div class="portfolio-items">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="assets/img/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4><a routerLink="/hospitals">Gynecologist </a></h4>
                                  
                </div>
                <img src="assets/img/01-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4><a routerLink="/hospitals">Gastroenterlogist</a></h4>
                </div>
                <img src="assets/img/02-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4><a routerLink="/hospitals">cardiologist</a> </h4>
                </div>
                <img src="assets/img/03-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4><a routerLink="/hospitals">nutritionist</a></h4>
                </div>
                <img src="assets/img/04-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4> <a routerLink="/hospitals">Orthopedist</a></h4>
                </div>
                <img src="assets/img/05-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4> <a routerLink="/hospitals">Dermatologist</a></h4>
                </div>
                <img src="assets/img/06-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4> <a routerLink="/hospitals">Pulmonologist</a></h4>
                </div>
                <img src="assets/img/07-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4><a routerLink="/hospitals">Opthalmologist</a></h4>
                </div>
                <img src="assets/img/08-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4><a routerLink="/hospitals">AudioLogist</a></h4>
                </div>
                <img src="assets/img/09-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 
  



