<div id="portfolio" class="text-center">
  <div class="container">
    <div class="section-title">
      <h2>Hospitals</h2>
      <p>Choose Hospital</p>
    </div>
    <div class="row">
      <div class="portfolio-items">
        <div class="col-sm-2 col-md-2 col-lg-2"[routerLink]="['/hospitals/doctors']">
          <div class="portfolio-item">
            <div class="hover-bg"> <a  title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                <h4> Hospital1 </h4>
              </div>
              <img src="assets/img/b.jpg" class="img.resize" class="img-responsive"  alt="Project Title" >
              
            </a>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2" [routerLink]="['/hospitals/doctors']">
          <div class="portfolio-item">
            <div class="hover-bg"> <a  title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                  <h4>  Hospital2 </h4>
              </div>
              <img src="assets/img/a.jpg" class="img.resize" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2"[routerLink]="['/hospitals/doctors']">
          <div class="portfolio-item">
            <div class="hover-bg"> <a title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                  <h4>  Hospital3 </h4>
              </div>
              <img src="assets/img/H3.jpg" class="img-responsive"  alt="Project Title"
              dpr="auto"
              responsive
              width="auto"
              crop="scale"
              public-id="myphoto"
              angle="20">
               </a> </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2"[routerLink]="['/hospitals/doctors']">
          <div class="portfolio-item">
            <div class="hover-bg"> <a  title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                  <h4>  Hospital4 </h4>
              </div>
              <img src="assets/img/H4.jpg" class="img.resize"  class="img-responsive"  alt="Project Title">  </a> </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2"[routerLink]="['/hospitals/doctors']">
          <div class="portfolio-item">
            <div class="hover-bg"> <a  title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                  <h4> Hospital5 </h4>
              </div>
              <img src="assets/img/H5.jpg" class="img-responsive"   height="100%" width="100%"alt="Project Title" >              
               </a> </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2"[routerLink]="['/hospitals/doctors']">
          <div class="portfolio-item">
            <div class="hover-bg"> <a  title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                  <h4>  Hospital6 </h4>
              </div>
              <img src="assets/img/H6.jpg" class="img-responsive" alt="Project Title"
               height="100%" width="100%">

               
        
               </a> </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2"[routerLink]="['/hospitals/doctors']">
          <div class="portfolio-item">
            <div class="hover-bg"> <a  title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                  <h4> Hospital7 </h4>
              </div>
              <img src="assets/img/H7.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2"[routerLink]="['/hospitals/doctors']">
          <div class="portfolio-item">
            <div class="hover-bg"> <a  title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                  <h4> Hospital8 </h4>
              </div>
              <img src="assets/img/H8.jpg" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2" [routerLink]="['/hospitals/doctors']">
          <div class="portfolio-item">
            <div class="hover-bg"> <a  title="Project Title" data-lightbox-gallery="gallery1">
              <div class="hover-text">
                  <h4> Hospital9 </h4>
              </div>
              <img src="assets/img/H9.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



