<div class="container">
        <div class="well well-sm">
            <strong>Display</strong>
            <div class="btn-group">
                 <a href="#" id="grid" class="btn btn-default btn-sm"><span
                    class="glyphicon glyphicon-th"></span>Grid</a>
            </div>
        </div>
        <div id="products" class="row list-group">
            <div class="item  col-xs-4 col-lg-4" [routerLink]="['/hospitals/doctors/profile']">
                <div class="thumbnail">
                    
                    <img class="group list-group-image" src="/assets/img/doctor1.jpg.png" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            Doctor 1</h4>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item  col-xs-4 col-lg-4"[routerLink]="['/hospitals/doctors/profile']">
                <div class="thumbnail">
                    <img class="group list-group-image" src="/assets/img/doctor2.jpg.png" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            Doctor 2</h4>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item  col-xs-4 col-lg-4" [routerLink]="['/hospitals/doctors/profile']">
                <div class="thumbnail">
                    <img class="group list-group-image" src="/assets/img/doctor3.jpg.png" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            Doctor 3</h4>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                               
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item  col-xs-4 col-lg-4" [routerLink]="['/hospitals/doctors/profile']">
                <div class="thumbnail">
                    <img class="group list-group-image" src="assets/img/doctor4.jpg.png" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            Doctor 4</h4>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item  col-xs-4 col-lg-4" [routerLink]="['/hospitals/doctors/profile']">
                <div class="thumbnail">
                    <img class="group list-group-image" src="/assets/img/doctor5.jpg.png" alt="" />
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            Doctor 5</h4>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item  col-xs-4 col-lg-4" [routerLink]="['/hospitals/doctors/profile']">
                <div class="thumbnail">
                    <img class="group list-group-image" src="assets/img/doctor6.jpg.png" alt="" 
                              dpr="auto"
                            responsive
                            width="auto"
                            crop="scale"
                            public-id="myphoto"
                            angle="20">
                            
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            Doctor 6</h4>
                        <p class="group inner list-group-item-text">
                            Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                            sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>