<div id="portfolio" class="text-center">
    <div class="container">
      <div class="section-title">
        <h2>categories</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.</p>
      </div>
      <div class="row">
        <div class="portfolio-items">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="assets/img/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Gynecologist</h4>
                </div>
                <img src="assets/img/01-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Gastroenterlogist</h4>
                </div>
                <img src="assets/img/02-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>cardiologist</h4>
                </div>
                <img src="assets/img/03-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>nutritionist</h4>
                </div>
                <img src="assets/img/04-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4> Orthopedist</h4>
                </div>
                <img src="assets/img/05-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Dermatologist</h4>
                </div>
                <img src="assets/img/06-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Pulmonologist</h4>
                </div>
                <img src="assets/img/07-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>Opthalmologist</h4>
                </div>
                <img src="assets/img/08-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="../site/page2.html" title="Project Title" data-lightbox-gallery="gallery1">
                <div class="hover-text">
                  <h4>AudioLogist</h4>
                </div>
                <img src="assets/img/09-small.jpg" class="img-responsive" alt="Project Title"> </a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

